<html>
<head>
	<title>Mathrik's Dumb Armory</title>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div class="app-container">
	<div v-if="showCharSelector">
		(Realm should be all lower case with dashes for spaces.)<br />
		Realm: <input v-model="realm">
		<br />
		Character: <input v-model="character">
		<br />
		<button v-on:click="fetchCharacter">Show My Character</button>
		<hr />
	</div>
<!-- end of character selection -->
	<nav class="options-menu">
		<a href="#" v-on:click="showProfile">Profile</a> |
		<a href="#" v-on:click="showMounts">Mounts</a> |
		<a href="#" v-on:click="showBattlePets">Battle Pets</a> |
		<a href="#" v-on:click="showReputation">Reputation</a>
	</nav>


	<h1>{{ characterName }}</h1>
	<img v-bind:src="avatar" alt="avatar" />
	<br />

	<div v-if="profileVisible"> 
		<h2>Profile</h2>
		Race: {{ characterRace }}
		<br />
		Class: {{ characterClass }}
		<br />
	</div>

	<div v-if="battlePetsVisible"> 
		<h2>Battle Pets</h2>
		<p>
			Collected: {{ numBattlePetsCollected }} <br />
			Still out there: {{ numBattlePetsNotCollected }}
		</p>
		<battle-pet
			v-for="pet in battlePetArray"
			v-bind:key="pet.itemId"
			v-bind:pet="pet"></battle-pet>
	</div>

	<div v-if="mountsVisible"> 
		<h2>Mounts</h2>
	</div>

	<div v-if="reputationVisible"> 
		<h2>Reputation</h2>
	</div>

	<button v-on:click="pickNewCharacter">Switch Characters</button>
</div>

<script src="js/battle-pet.js"></script>
<script src="js/armory-vue.js"></script>
</body>
</html>